<app-banner title="Edit Player" ></app-banner>

<!--  -->

     <div class="site-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <form #editPlayerForm="ngForm" (ngSubmit)="editPlayer()">
              <div class="form-group">
                <input type="text" name="name" [(ngModel)]="player.name" class="form-control" >
              </div>
              <div class="form-group">
                <input type="number" name="age" [(ngModel)]="player.age" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" name="position" [(ngModel)]="player.position" class="form-control" >
              </div>


              <div class="form-group text-center">
                <input type="submit" class="btn btn-primary py-3 px-5 w-50 " value="Edit Player">
              </div>
            </form>  
          </div>

        </div>
      </div>
    </div>





