<app-banner title="Edit Team" ></app-banner>

<!--  -->

     <div class="site-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <form #editTeamForm="ngForm" (ngSubmit)="editTeam()">
              <div  class="form-group">
                <input type="text" name="name" [(ngModel)]="team.name" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" name="stadium" [(ngModel)]="team.stadium" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" name="owner" [(ngModel)]="team.owner" class="form-control">
              </div>


              <div class="form-group text-center">
                <input type="submit" class="btn btn-primary py-3 px-5 w-50 " value="Edit Team">
              </div>
            </form>  
          </div>

        </div>
      </div>
    </div>





