<app-banner [title]="title"></app-banner>

<div>
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
        aria-selected="true">Matchs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
        aria-selected="false">Teams</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
        aria-selected="false">Players</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="stad-tab" data-toggle="tab" href="#stad" role="tab" aria-controls="stad"
        aria-selected="false">Stadiums</a>
    </li>
  </ul>



  <div class="tab-content JUST" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <app-matchs-table></app-matchs-table>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <app-teams-table></app-teams-table>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <app-players-table></app-players-table>
    </div>
    <div class="tab-pane fade" id="stad" role="tabpanel" aria-labelledby="stad-tab">
      <app-stadiums-tab></app-stadiums-tab>
    </div>
    
  </div>
  
</div>
