<app-banner title="Edit Match" ></app-banner>

<!--  -->

     <div class="site-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <form #editMatchForm="ngForm" (ngSubmit)="validate()" >
              <div class="form-group">
                <input type="number" name="scoreOne" [(ngModel)]="match.scoreOne"  class="form-control" >
              </div>
              <div class="form-group">
                <input type="number" name="scoreTwo" [(ngModel)]="match.scoreTwo"  class="form-control" >
              </div>
              <div class="form-group">
                <input type="text" name="teamOne" [(ngModel)]="match.teamOne"  class="form-control" >
              </div>
              <div class="form-group">
                <input type="text" name="teamTwo" [(ngModel)]="match.teamTwo"  class="form-control" >
              </div>

              <div class="form-group text-center">
                <input type="submit" class="btn btn-primary py-3 px-5 w-50 " value="Edit Match">
              </div>
            </form>  
          </div>

        </div>
      </div>
    </div>





